.team-image{
    height: 50px;
    width: auto;
}

.card:hover{
    background-color: #F9F9F9;
}

.table>thead>tr>th,
.table>tbody>tr>td,
.table>tbody>tr>th {
  border-bottom: none;
}

.accordion>.accordion-item>.accordion-header>.accordion-button {
  background-color:#FFF; 
  color: #000; 
  outline: none !important; 
  box-shadow: none;
}

.accordion>.accordion-item>.accordion-header>.accordion-button::after {
  content: none;
}
